/* General Layout */
* {
  box-sizing: border-box;
  margin: 0;
}

header,
main,
article,
section,
div {
  display: flex;
}

main,
div {
  flex-direction: row;
}

section,
article {
  flex-direction: column;
  align-items: center;
}

/* Header */
header {
  justify-content: center;
  align-items: center;
}

.sub-title {
  color: white;
  padding-bottom: 10px;
}

/* Left Section */
.items-column {
  width: 30%;
  align-items: center;
}

.slides {
  height: 70px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.slides-container {
  width: 300px;
  display: inline;
  background-color: #487AB9;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  text-align: center;
}

.item-slide {
  width: 300px;
  flex-shrink: 0;
  overflow: hidden;
  scroll-snap-align: center;
}

.item {
  height: 50px;
  display: inline-block;
}

.clothes span img {
  height: 90px;
  position: relative;
  bottom: 30px;
}

.slide-links {
  text-align: center;
  display: inline-block;
}

.slide-link {
  text-decoration: none;
  background-color: #DD4F40;
  color: white;
  border-radius: 100%;
  padding: 3px 8px;
}

/* Middle Section */

/* Right Section */
