/* General Layout */
* {
  box-sizing: border-box;
  margin: 0;
}

header,
main,
article,
section,
div {
  display: flex;
}

main,
div {
  flex-direction: row;
}

section,
article {
  flex-direction: column;
  align-items: center;
}

/* Header */
header {
  justify-content: center;
  align-items: center;
}

/* Left Section */

.slides-container {
  width: 100%;
  display: inline;
  background-color: #487AB9;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  text-align: center;
}

/* Middle Section */

/* Right Section */
