/* General Layout */
* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: 'Coming Soon', cursive;
}

body {
  background-color: #F6EC5F;
}

main {
  background-color: white;
  border-radius: 35px 35px 0 0;
}

header,
main,
article,
section,
div {
  display: flex;
}

main,
div {
  flex-direction: row;
}
main{
  padding-top: 20px;
}

section,
article {
  flex-direction: column;
  align-items: center;
}

/* Header */
header {
  justify-content: center;
  align-items: center;
  height: 3em;
  margin-bottom: 1em;
  background-color: #487AB9;
  border-radius: 0 0 35px 35px;
  font-family: 'Kalam', cursive;
  color:white;
  font-size: 1.5em;
  font-weight: 700;
}

/* Left Section */
article {
  align-items: flex-start;
  width: 100%;
}

.sub-title {
  font-family: 'Coming Soon', cursive;
  color: white;
}
.title{
  font-family: 'Coming Soon', cursive;
  color: white;
}

.left-column {
  width: 30%;
  margin: 0px 20px;
}
/* Middle Section */


.items {
  background-color: #487AB9;
  margin: 10px;
  margin-top: 0px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1), -2px -2px 10px rgba(0,0,0,0.1);
}

.button-container {
  flex-wrap: wrap;
}

.item-button,
.save-button {
  width: 80px;
  margin: 10px;
  padding: 8px;
  font-family: 'Coming Soon', cursive;
  font-size: 0.9em;
  font-weight: 1000;
  background-image: linear-gradient(#DD4F40 60%, white 80%, #DD4F40 100%);
  border-width: 0px;
  border-radius: 3px;
}

.item-button:hover,
.save-button:hover {
  background-image: linear-gradient(#DD4F40 80%, white 95%, #DD4F40 100%);
  cursor: pointer;
}

/* Middle Section */
.bear-box {
  justify-content: center;
  position: relative;
}

.bear {
  height: 400px;
  align-self: flex-end;
}

.hat-box {
  position: absolute;
  background-repeat: no-repeat;
  height: 225px;
  width: 225px;
}

.top-hat {
  bottom: 255px;
  right: 140px;
  transform: rotate(15deg);
  background-image: url("./assets/tophat.png");
  background-size: 225px;
}

.sun-hat {
  bottom: 235px;
  right: 135px;
  background-image: url("./assets/sunhat.png");
  background-size: 225px;
}

.bow {
  bottom: 145px;
  right: 125px;
  transform: rotate(45deg);
  background-image: url("./assets/hairbow.png");
  background-size: 150px;
}

.crown {
  bottom: 185px;
  right: 115px;
  transform: rotate(20deg);
  background-image: url("./assets/crown.png");
  background-size: 150px;
}

.clothing-box {
  position: absolute;
  bottom: 0px;
  right: 80px;
  background-repeat: no-repeat;
  background-size: 400px;
  height: 400px;
  width: 400px;
}

.vest {
  background-image: url("./assets/vest.png");
}

.dress {
  background-image: url("./assets/dress.png");
}

.background {
  border: 20px solid #487AB9;
  border-radius: 10px;
  height: 580px;
  width: 600px;
}

.park {
  background-image: url("./assets/park.png");
}

.space {
  background-image: url("./assets/outerspace.png");
}

.beach {
  background-image: url("./assets/beach.png");
}

.hearts {
  background-image: url("./assets/hearts.png");
}

.blue {
  background-color: #487AB9;
}

.yellow {
  background-color: #F6EC5F;
}

input {
  margin-top: 10px;
  border: 2px dashed gray;
  text-align: center;
  font-family: 'Coming Soon', cursive;
  font-size: 1.17em;
}

/* Right Section */
.saved_outfit {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1), -2px -2px 10px rgba(0,0,0,0.1);
  border-radius: 3px;
  min-width: 160px;
  width: 80%;
  padding: 10px;
  background-color: white;
  font-family: 'Coming Soon', cursive;
}

 .active {
  background-color: #F6EC5F;
}

.right-column {
  margin: 0px 20px 10px;
  border-radius:3px;
  width: 30%;
  padding-top: 2em;
  background-color: #487AB9;
}

/* || CSS Styling for Close Button*/
.close-outfit-button:hover {
  cursor: pointer;
  background-color:#DD4F40;
}

.close-outfit-button {
  position: relative;
  border-radius: 40% 40% 40% 40%;
  border:white .3em solid;
  width: 3em;
  height: 3em;
  padding: 0;
  cursor: pointer;
  background: #8b8b8b;
}

.close-outfit-button .cross {
  top: 1.1em;
  left: .21em;
  transform: rotate(45deg);
  height: .3em;
  width: 2em;
  position: absolute;
  background-color: #d0d2d3;
}

.close-outfit-button .vertical {
  transform: rotate(-45deg);
}
